/* body {
height: 95vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(to right, #0f0f0f, #1b1b1b);
text-align: center;
} */

.hero h1 {
font-size: 64px;
font-weight: 700;
}

.hero p {
font-size: 22px;
opacity: 0.85;
}

.container {
max-width: 1200px;
margin: 50px auto;
padding: 20px;
}
.card {
background: #161616;
padding: 35px;
border-radius: 16px;
box-shadow: 0 0 25px rgba(0,0,0,0.4);
margin-bottom: 50px;
}
.projects-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 25px;
}
.project-card {
background: #1e1e1e;
padding: 25px;
border-radius: 14px;
border: 1px solid #282828;
transition: 0.3s;
}

.project-card:hover {
transform: translateY(-8px);
border-color: #4da3ff;
}

footer {
text-align: center;
padding: 25px;
background: #111;
opacity: 0.8;
margin-top: 40px;
}